public net.minecraft.client.renderer.RenderStateShard$ShaderStateShard
public net.minecraft.client.renderer.RenderStateShard$TextureStateShard
public net.minecraft.client.renderer.RenderType$CompositeState
public net.minecraft.core.particles.SimpleParticleType
public net.minecraft.core.particles.ParticleTypes$1
public net.minecraft.client.KeyMapping key # key
public net.minecraft.client.model.geom.EntityModelSet roots # roots
public net.minecraft.client.model.geom.builders.CubeDefinition dimensions # dimensions
public net.minecraft.client.model.geom.builders.CubeDefinition grow # grow
public net.minecraft.client.model.geom.builders.CubeDefinition mirror # mirror
public net.minecraft.client.model.geom.builders.CubeDefinition origin # origin
public net.minecraft.client.model.geom.builders.CubeDefinition texCoord # texCoord
public net.minecraft.client.model.geom.builders.CubeDefinition texScale # texScale
public net.minecraft.client.model.geom.builders.CubeDeformation growX # growX
public net.minecraft.client.model.geom.builders.CubeDeformation growY # growY
public net.minecraft.client.model.geom.builders.CubeDeformation growZ # growZ
public net.minecraft.client.model.geom.builders.CubeListBuilder cubes # cubes
public net.minecraft.client.model.geom.builders.LayerDefinition material # material
public net.minecraft.client.model.geom.builders.LayerDefinition mesh # mesh
public net.minecraft.client.model.geom.builders.MaterialDefinition xTexSize # xTexSize
public net.minecraft.client.model.geom.builders.MaterialDefinition yTexSize # yTexSize
public net.minecraft.client.model.geom.builders.PartDefinition children # children
public net.minecraft.client.model.geom.builders.PartDefinition cubes # cubes
public net.minecraft.client.model.geom.builders.PartDefinition partPose # partPose
public net.minecraft.client.model.geom.ModelPart$Cube polygons # polygons
public net.minecraft.client.particle.Particle gravity # gravity
public net.minecraft.commands.synchronization.ArgumentTypeInfos BY_CLASS # BY_CLASS
public net.minecraft.server.MinecraftServer executor # executor
public net.minecraft.server.MinecraftServer levels # levels
public net.minecraft.server.MinecraftServer progressListenerFactory # progressListenerFactory
public net.minecraft.server.MinecraftServer storageSource # storageSource
public net.minecraft.server.level.ServerLevel dragonFight # dragonFight
public net.minecraft.client.particle.SuspendedParticle <init>(Lnet/minecraft/client/multiplayer/ClientLevel;Lnet/minecraft/client/particle/SpriteSet;DDD)V # <init>
public net.minecraft.client.renderer.LevelRenderer renderEndSky(Lcom/mojang/blaze3d/vertex/PoseStack;)V # renderEndSky
public net.minecraft.server.MinecraftServer wrapRunnable(Ljava/lang/Runnable;)Lnet/minecraft/server/TickTask; # wrapRunnable
public net.minecraft.world.entity.ai.behavior.VillagerGoalPackages getMinimalLookBehavior()Lcom/mojang/datafixers/util/Pair; # getMinimalLookBehavior
public net.minecraft.world.entity.ai.village.poi.PoiTypes register(Lnet/minecraft/core/Registry;Lnet/minecraft/resources/ResourceKey;Ljava/util/Set;II)Lnet/minecraft/world/entity/ai/village/poi/PoiType; # register
public net.minecraft.world.entity.ai.village.poi.PoiTypes registerBlockStates(Lnet/minecraft/core/Holder;Ljava/util/Set;)V # registerBlockStates
public net.minecraft.world.entity.npc.Villager setUnhappy()V # setUnhappy
public net.minecraft.world.level.biome.Biome getGrassColorFromTexture()I # getGrassColorFromTexture
public com.mojang.blaze3d.pipeline.MainTarget
public net.minecraft.client.model.geom.builders.CubeDefinition
public net.minecraft.world.entity.Entity getBoundingBox()Lnet/minecraft/world/phys/AABB; # getBoundingBox
public net.minecraft.world.level.block.entity.BlockEntityType$BlockEntitySupplier
public net.minecraft.client.renderer.RenderStateShard$MultiTextureStateShard
public net.minecraft.client.renderer.RenderStateShard$MultiTextureStateShard <init>(Ljava/util/List;)V # <init>
public net.minecraft.client.renderer.RenderStateShard TRANSLUCENT_TARGET # TRANSLUCENT_TARGET
public net.minecraft.client.renderer.RenderStateShard NO_LAYERING # NO_LAYERING
public net.minecraft.client.model.geom.ModelPart$Vertex
public net.minecraft.client.model.geom.ModelPart$Polygon
# public net.minecraft.client.renderer.RenderStateShard NO_CULL
public net.minecraft.client.renderer.RenderStateShard LIGHTMAP # LIGHTMAP
public net.minecraft.client.model.geom.ModelPart cubes # cubes
public net.minecraft.client.model.geom.ModelPart children # children